<!doctype html>
<html lang="en">
    <head>
        <title>Unauthorized Access:: Flask Blog App</title>
        <link href="/static/css/signup.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <div class="header">
                <nav>
                    <ul calss="nav nav-pills pull-right">
                        <li role="presentation" class="active"><a href="/">Home</a></li>
                        <li role="presentation"><a href="/showSignIn">Sign In</a></li>
                        <li role="presentation"><a href="/showSignUp">Sign Up</a></li>
                    </ul>
                </nav>
                <img src="/static/images/Flask_Icon.jpg" alt="Flask_Icon.jpg" height="100" width="100">
            </div>

            <div class="jumbotron">
                <h1>{{error}}</h1>
            </div>

            <footer class="footer">
                <p>©fzcsyglq.top 2022</p>
            </footer>
        </div>
    </body>
</html>

