<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Python Flask Blog App</title>
        <link href="/static/css/signup.css" rel="stylesheet">

    </head>

    <body>
        <div class="container">
            <div class="header">
                <nav>
                    <ul>
                        <li role="presentation" id="home"><a href="/" class="now">Home</a></li>
                        <li role="presentation"><a href="showSignIn">Sign In</a></li>
                        <li role="presentation"><a href="showSignUp">Sign Up</a></li>
                    </ul>
                </nav>
                <img src="/static/images/Flask_Icon.jpg" alt="Flask_Icon.jpg">
            </div>


            <div class="jumbotron" >
                <h1 id="title">Fzcsyglq's Blog</h1>
            </div>

            <br><br><br><br><br>
            
            <div class="row marketing">
                <div class="col-lg-6">
                    <h4>Blog 1</h4>
                    <h4>Blog 2</h4>
                    <h4>Blog 3</h4>
                </div>
            <footer class="footer">
                <p>© fzcsyglq.top 2022</p>
            </footer>
        </div>
    </body>
<html>
    
